.offer-list {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 5px;
}

.offer-list h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.offer-list button {
  margin-bottom: 20px;
}

.offer-list ul {
  list-style-type: none;
  padding: 0;
}

.offer-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.offer-list li:last-child {
  border-bottom: none;
}	